name: Docker Publish Release Multiarch

on:
  workflow_dispatch:
  release:
    types: [released]



jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: oprypin/find-latest-tag@v1
        with:
          repository: Forceu/Gokapi 
          releases-only: true 
          prefix: 'v'
        id: latestversion

      - name: checkout code
        uses: actions/checkout@v2
      - name: install buildx
        id: buildx
        uses: crazy-max/ghaction-docker-buildx@v1
        with:
          version: latest
      - name: login to docker hub
        run: echo "${{ secrets.DOCKER_PW }}" | docker login -u "${{ secrets.DOCKER_USER }}" --password-stdin
      - name: build the image
        run: |
          docker buildx build --tag flowkat/flowkat:latest --platform linux/amd64 .
      - name: push the image
        run: |
          docker buildx build --push --tag flowkat/flowkat:latest --platform linux/amd64 .
          docker buildx build --push --tag flowkat/flowkat:${{ steps.latestversion.outputs.tag }} --platform linux/amd64 .
